{% extends 'base.html' %}

{% block main %}
    <div class="row">
        <div class="col">
            Olá, {{ usuario.employee.name }}
            <a href="{% url 'employees_list' %}">Gerenciar Funcionários</a>
            <a href="{% url 'departments_list' %}">Gerenciar Departamentos</a>
            <a href="{% url 'register_hours_list' %}">Gerenciar Horas Extras</a>
            <a href="{% url 'pdf_reportlab' %}" class="btn btn-info">PDF ReportLab</a>
            <a href="{% url 'relatorio_html' %}" class="btn btn-primary">Relatório HTML</a>
        </div>
        <div class="col">
        </div>
        <div class="col">
            <a href="{% url 'logout' %}">Logout</a>
            {% if usuario.employee.company %}
                <a href="{% url 'company_update' usuario.employee.company.id %}">Editar Empresa</a>
            {% else %}
                <a href="{% url 'company_create' %}">Cadastrar empresa</a>
            {% endif %}

        </div>
    </div>

{% endblock %}
