{% extends 'base.html' %}
{% load static %}
{% block main %}

    {% for register in object_list %}
        {{ register.employee }} | {{ register.justification }} - {{ register.hours }} |
        <a href="{% url 'register_hours_update' register.id %}">Editar</a> |
        <a href="{% url 'register_hours_delete' register.id %}">Deletar</a>
        <br>
    {% endfor %}

    {% if not object_list %}
        <h2>Não existe horas extras cadastrado!</h2>
    {% endif %}

    <a href="{% url 'register_hours_create' %}" class="btn btn-primary">Cadastrar</a>

{% endblock main %}
